$primaryColor: #31859c;
$primaryColorDark: #2B7187;
$grey: #e1e1e1;
$mediumGrey: #adb5bd;
$darkGrey: #495057;
$slate: #f8fafc;
$mediumSlate: #e5e7eb;
$red: #991b1b;

$breakpointSM: 640px;
$breakpointMD: 768px;
$breakpointLG: 1024px;
$breakpointXL: 1280px;
$breakpointXXL: 1440px;

$shadow: 0 4px 6px -1px rgba(0,0,0,0.1);